<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="혈기원, 혈기원 홈페이지, 혈기공, 혈기도, 신선도">
    <meta name="google-site-verification" content="AzXFaT8JGIF2zEpe-GKJ6e1vbB-mxFuJR1fHXMWi8_s" />
    <meta name="naver-site-verification" content="74cf3bb479f32336eb921d17c332bf2b47c59df6" />
    <?xml version="1.0" encoding="UTF-8"?>
    <urlset
          xmlns="http://www.sitemaps.org/schemas/sitemap/0.9"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://www.sitemaps.org/schemas/sitemap/0.9
                http://www.sitemaps.org/schemas/sitemap/0.9/sitemap.xsd">
      <!-- created with Free Online Sitemap Generator www.xml-sitemaps.com -->
      <url>
        <loc>http://www.hkwon.co.kr/</loc>
        <lastmod>2023-10-14T06:05:05+00:00</lastmod>
        <priority>1.00</priority>
      </url>
      <url>
        <loc>http://www.hkwon.co.kr/home/</loc>
        <lastmod>2023-10-14T06:05:05+00:00</lastmod>
        <priority>0.80</priority>
      </url>
      <url>
        <loc>http://www.hkwon.co.kr/about/</loc>
        <lastmod>2023-10-14T06:05:05+00:00</lastmod>
        <priority>0.80</priority>
      </url>
      <url>
        <loc>http://www.hkwon.co.kr/services/</loc>
        <lastmod>2023-10-14T06:05:05+00:00</lastmod>
        <priority>0.80</priority>
      </url>
      <url>
        <loc>http://www.hkwon.co.kr/contact/</loc>
        <lastmod>2023-10-14T06:05:05+00:00</lastmod>
        <priority>0.80</priority>
      </url>
    </urlset>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css')}}"">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.css" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css')}}">
</head>
<body>
  <div class="container">
  <nav class="navbar navbar-expand-sm navbar-light bg-success">
      <a class="navbar-brand" href="/home">
        <img class="mr-3" src="/static/img/logo.png" style="height:35px;"><img src="/static/img/logo_han.png" style="height:55px;">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item {% if home %}active{% endif %}">
            <a class="nav-link" href="/home">홈</a>
          </li>
          <li class="nav-item {% if about %}active{% endif %}">
            <a class="nav-link" href="/about">혈기공 소개</a>
          </li>
          <li class="nav-item {% if services %}active{% endif %}">
            <a class="nav-link" href="/services">행공 안내</a>
          </li>
          <li class="nav-item {% if contact %}active{% endif %}">
            <a class="nav-link" href="/contact">연락처</a>
          </li>
        </ul>
      </div>
  </nav>
</div>

<!-- <header id="page-header">
    <div class="container">
      <div class="row">
        <div class="col-md-6 m-auto text-center">
          {% if not home %}<img src="/static/img/sangho.png" backgroundSize: cover; backgroundPostion: center center; />{% endif %}
        </div>
      </div>
    </div>
</header> -->

  <div class="container">
    {% block content %} {% endblock %}
  </div>

  <footer id="main-footer" class="text-center p-4">
    <div class="container">
      <div class="row">
        <div class="col">
          <p>Copyright 2021 &copy; 혈기원</p>
        </div>
      </div>
    </div>
  </footer>

  <!-- Video Modal -->
  <div class="modal fade" id="videoModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <button class="close" data-dismiss="modal"><span>&times;</span></button>
          <iframe width="100%" height="315" src="" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>

  <a href="#" class="back-to-top"><i class="fa fa-arrow-circle-up m-1"></i>맨첫줄</a>

  <script src="{{ url_for('static',filename='js/jquery.min.js') }}"></script>
  <script src="{{ url_for('static',filename='js/popper.min.js') }}"></script>
  <script src="{{ url_for('static',filename='js/bootstrap.min.js') }}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.js"></script>
  <script src="{{ url_for('static',filename='js/main.js') }}"></script>

</body>
</html>
